.weather {
  place-self: center;
  padding: 60px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #5b7bcd, #7640ea);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 5px 16px rgb(0,0,0,.6);
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-bar input {
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 25px;
  color: #626262;
  background: #ebfffc;
  font-size: 18px;
}

.search-bar img {
  width: 50px;
  padding: 15px;
  border-radius: 50%;
  background: #ebfffc;
  cursor: pointer;
}

.weather-icon {
  width: 150px;
  padding: 50px 0;
}

.temperature {
  color: #fff;
  font-size: 80px;
  line-height: 1;
}

.location {
  color: #fff;
  font-size: 40px;
}

.weather-data {
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.weather-data .col {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}


.weather-data .col span {
    display: block;
    font-size: 16px;
}

.weather-data .col img {
    width: 26px;
    margin-top: 10px;
}

.loading {
  color: rgb(111, 200, 225);
  font-size: 20px;
  padding: 30px;
}

.admin {
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  width: 90px;
  height: 90px;
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 4px 16px rgb(0,0,0, .4);
}

.admin a img {
  width: 80px;
  color: red;
}