@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=New+Amsterdam&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jaro", sans-serif;

}

.app {
  min-height: 100vh;
  display: grid;
  background: #e2d4ff;
  
}